<%# 検索表示 %>
<div class="search">
  <%= search_form_for @search, url: set_search_cans_path, class: :search_top do |f| %>
    <%= f.collection_select :active_id_eq, Active.all, :id, :name, class:"search-select" %>
    <%= f.submit '検索', class:"search-btn" %>
  <% end %>
</div>